* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #c2e59c, #64b3f4) no-repeat fixed
    center;
  font-family: "Roboto", serif;
}

.mainSection {
  margin: 20px auto;
  padding: 0 40px;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header > h1 {
  font-size: 3rem;
  padding: 20px;
}

.createTodobtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d3daf;
  color: #fff;
  margin: 0 40%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.createTodobtn > button {
  font-size: 1rem;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.resetbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2e59c;
  margin: 0 40%;
  cursor: pointer;
  padding: 5px;
}

.assignedTasks {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.assignedTasks > h2 {
  border-bottom: 1px solid #333;
}

.Cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.completedTasks {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.completedTasks > h2 {
  border-bottom: 1px solid #333;
}
